
.background{
  height: 1000px;
  z-index: -1;
}

.greeting {
  position: absolute;
  margin-top: 25vw;
  left: 0;
  right: 0;
  z-index:1;
  color: white;
}

.search-box {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0.8;
}

.form-review {
  height: 500px;
}

.name-position {
  position: absolute;
  top: 0;
}

.review-position {
  position: absolute;
  top: 50px;
}

.nav-style {
  opacity: 0.9;
}

.page-reviews {
  margin-top: 400px;
}

.review-box {
  position: absolute;
  left: 0;
  right: 0;
}
