.write-button {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 1;
}

.background{
  height: 1000px;
  z-index: -1;
}

.greeting {
  position: absolute;
  margin-top: 25vw;
  left: 0;
  right: 0;
  z-index:1;
  color: white;
}

.search-box {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0.8;
}

.form-review {
  height: 500px;
}
